@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  background-color: rgb(213, 222, 231);
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.form-box {
  height: fit-content;
  border: 1px solid black;
  border-radius: 20px;
  padding: 2%;
  font-size: 20px;
  color: black;
  background-color: rgb(255, 255, 255);
}

.modal-box {
  width: 40%;
  height: fit-content;
  border: 1px solid black;
  border-radius: 20px;
  padding: 1%;
  font-size: 15px;
  color: black;
  background-color: rgb(255, 255, 255);
  margin-bottom: 20px;
  align-self: center;
}

.form-btn {
  width: 100%;
  margin: 0;
  color: white;
  background-color: rgb(1, 93, 179);
  padding: 2%;
  cursor: grab;
  border-radius: 10px;
}
.btn-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin-top: 2%;
}
.input {
  width: 100%;
  padding: 2px;
  border: 1px solid black;
  box-sizing: border-box;
}
.form-bottom {
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.form-anchor {
  color: rgb(1, 93, 179);
}
.form-heading {
  font-size: 30px;
  font-weight: bolder;
  justify-items: center;
}
.main-posts {
  height: fit-content;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: rgb(213, 222, 231);
  justify-content: flex-start;
  align-items: center;
}
.post-body {
  background-color: white;
  width: 50%;
  height: fit-content;
  padding: 2%;
  border-radius: 10px;
  margin: 1%;
}
.post-title {
  font-size: 25px;
  font-weight: bold;
}
.post-content {
  font-size: 15px;
}
.post-topbar {
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-top: 15px;
}
.add-btn {
  height: fit-content;
  width: fit-content;
  margin: 0;
  color: white;
  background-color: rgb(23, 128, 14);
  padding: 1%;
  cursor: grab;
  border-radius: 10px;
}
.logout-btn {
  height: fit-content;
  width: fit-content;
  margin: 0;
  color: white;
  background-color: rgb(160, 13, 13);
  padding: 1%;
  cursor: grab;
  border-radius: 10px;
}
.loading {
  font-size: 30px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.post-user-details {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-style: italic;
}
.post-action-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.post-delete-btn {
  margin: 2px;
  color: darkred;
  padding: 2px;
  cursor: grab;
}
.post-delete-btn:hover {
  color: rgb(255, 255, 255);
  background-color: darkred;
  border-radius: 10px;
}
.post-edit-btn {
  margin: 2px;
  color: darkgreen;
  padding: 2px;
  cursor: grab;
}

.post-edit-btn:hover {
  background-color: darkgreen;
  color: white;
  border-radius: 10px;
}

.modal-container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(226, 226, 226, 0.5);
  position: fixed;
  display: flex;
  justify-content: center;
  align-content: center;
}

.comment-block {
  background-color: #f1f1f1;
  margin-top: 5px;
  padding: 2px;
  border-radius: 5%;
  font-size: 13px;
}

.add-comment-block {
  border-bottom: 1px solid grey;
  width: 100%;
  margin-top: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 2px;
  padding-right: 2px;
}

.add-comment-block form {
  flex: 1;
}

.comment-input {
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
}

.send-icon {
  cursor: grab;
}

.comment-topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.action-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 5px;
}
